.tetrominos {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-1 * var(--h)), calc(-1 * var(--w)));
}

.tetromino {
  width: var(--w);
  height: var(--h);
  position: absolute;
  transition: all ease 0.3s;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"><path fill="%23999999" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/><path fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/></svg>') no-repeat top center;
}

.box1 { animation: tetromino1 var(--speed) ease-out infinite; }
.box2 { animation: tetromino2 var(--speed) ease-out infinite; }
.box3 { animation: tetromino3 var(--speed) ease-out infinite; z-index:2; }
.box4 { animation: tetromino4 var(--speed) ease-out infinite; }

@keyframes tetromino1 {
  0%, 40% { transform: translate(0,0); }
  50% { transform: translate(var(--xspace), calc(-1 * var(--yspace))); }
  60%, 100% { transform: translate(calc(var(--xspace) * 2), 0); }
}

@keyframes tetromino2 {
  0%, 20% { transform: translate(calc(var(--xspace) * 2), 0); }
  40%, 100% { transform: translate(calc(var(--xspace) * 3), var(--yspace)); }
}

@keyframes tetromino3 {
  0% { transform: translate(calc(var(--xspace) * 3), var(--yspace)); }
  20%, 60% { transform: translate(calc(var(--xspace) * 2), calc(var(--yspace) * 2)); }
  90%, 100% { transform: translate(var(--xspace), var(--yspace)); }
}

@keyframes tetromino4 {
  0%, 60% { transform: translate(var(--xspace), var(--yspace)); }
  90%, 100% { transform: translate(0,0); }
}
