@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* .input {
  @apply w-full border rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-black;
}

.input-sm {
  @apply w-full border rounded px-2 py-1 text-sm;
}

.th {
  @apply border px-3 py-2 text-left font-medium;
}

.td {
  @apply border px-2 py-1;
} */

/* .btn-outline {
  @apply border px-4 py-2 rounded-md text-sm hover:bg-gray-100;
} */
